* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10000px;
}

.slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to bottom right,#b8d4ff, #8db8fc );
    z-index: -1;
}

.active {
    transform: scale(3);
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

.logo {
    grid-column: 2/3;
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;;
}

.hamburger {
    justify-self: end;
    height: 40px;
    width: 40px;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 70%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 100px;
    transform: translate(-20% -70%);
    color: white;
    z-index: 3;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.1;
    top: 0;
}