@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
:root {
  --primary-blue: #4f80ff;
  --light-1: #2e2f3d;
  --background: #262732;
  --font: #fff; }

@media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #4f80ff;
    --light-1: #2e2f3d;
    --light-2: #373852;
    --dark-1: #252633;
    --background: #262732;
    --font: #fff; } }

@media (prefers-color-scheme: light) {
  :root {
    --primary-blue: #4f80ff;
    --light-1: #d5d6ec;
    --light-2: #adb1e2;
    --background: #e2e3f5;
    --font: #000; } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 55%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
  font-family: "Poppins", "Noto Sans Thai", sans-serif;
  color: var(--font);
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.main__home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 5vw 0 5vw; }

h1 {
  color: var(--font);
  font-size: 4.5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

p {
  font-size: 1.5rem; }

strong {
  font-weight: 700; }

.u-remove-a-eff {
  color: var(--font-color);
  text-decoration: none; }

.dot {
  color: var(--primary-blue); }

.knowingMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40rem;
  gap: 3rem; }
  .knowingMe__text p {
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .knowingMe__images {
    display: flex;
    gap: 2rem;
    overflow: hidden; }
    .knowingMe__images img {
      border-radius: 3rem;
      width: 90%;
      margin-left: auto;
      object-fit: cover;
      transition: all 0.2s; }
  .knowingMe__chips {
    display: flex;
    gap: 2rem; }
  .knowingMe__chip {
    transition: all 0.2s;
    padding: 2rem;
    background-color: var(--light-1);
    border-radius: 10rem; }
    .knowingMe__chip div {
      display: flex;
      gap: 1rem;
      font-size: 2rem;
      font-weight: 700;
      height: 2.5rem;
      justify-content: center; }
    .knowingMe__chip:hover {
      background-color: var(--primary-blue);
      color: #fff; }

.infoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-1);
  border-radius: 3rem;
  border: none;
  overflow: hidden;
  width: 50vw;
  outline: none; }
  .infoModal__image {
    width: 100%;
    height: 20rem;
    object-fit: cover; }
  .infoModal__main {
    padding: 3rem; }
    .infoModal__main h3 {
      margin-bottom: 1rem; }

.featuredPosts__container {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }

.featuredPosts__item {
  border-radius: 3rem;
  background-color: var(--light-1);
  padding: 3rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .featuredPosts__item h3 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.5rem;
    width: 80%; }

.technologies p {
  margin-bottom: 2rem; }

.technologies__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem; }

.technologies__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--light-1);
  border-radius: 3rem;
  height: 21rem;
  transition: all 0.2s;
  position: relative;
  overflow: hidden; }
  .technologies__item h3 {
    font-size: 2.5rem;
    line-height: 35px;
    z-index: 2; }
  .technologies__item p {
    font-size: 1.7rem;
    z-index: 2; }
  .technologies__item i {
    position: absolute;
    bottom: -30%;
    right: 0;
    font-size: 25rem;
    color: var(--light-2);
    transition: all 0.2s; }
  .technologies__item:hover > i {
    color: #fff; }
  .technologies__item:hover {
    color: #fff;
    background-color: var(--primary-blue); }

.projects__container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem; }

.projects__item {
  padding: 2.5rem;
  background-color: var(--light-1);
  border-radius: 3rem;
  height: 35rem;
  width: 70rem;
  position: relative; }
  .projects__item--mainButton {
    display: grid;
    place-items: center;
    width: 13rem;
    height: 6rem;
    border-radius: 10rem;
    background-color: var(--primary-blue);
    font-size: 1.5rem;
    position: absolute;
    bottom: 3rem;
    right: 3rem; }
  .projects__item--subButton {
    text-align: center;
    padding: 1rem;
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    background-color: transparent;
    border: 1px solid #4d4f6f;
    font-size: 3rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem; }
  .projects__item--deprecated {
    background-color: #333948;
    color: #838383; }
  .projects__item h3 {
    font-weight: 500;
    font-size: 4rem; }
  .projects__item p {
    color: #dbdbdb; }

.header__home {
  height: 80vh;
  background-color: var(--light-1);
  border-radius: 0 0 3rem 3rem;
  padding: 4vw;
  display: flex; }
  .header__home h1 {
    line-height: 101%;
    font-size: 10rem;
    margin-top: auto; }
  .header__home p {
    font-size: 3.5rem;
    width: 60%; }

.header__container {
  display: flex;
  gap: 2rem;
  height: 80%;
  margin-top: auto; }

.header__box {
  height: 100%;
  margin-left: 4rem;
  width: 40vw;
  border-radius: 3rem;
  padding: 2rem;
  background-color: var(--dark-1); }

footer {
  border-top: 1px solid #5a5c77;
  margin-top: 10rem;
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between; }

.footer__logo h3 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-bottom: 0.5rem; }

.footer__menus {
  display: flex;
  gap: 2rem; }

.footer__item a {
  font-size: 1.5rem; }
  .footer__item a:hover {
    text-decoration: underline; }
