.post {
  &__header {
    margin-bottom: 3rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid #cbccd4;

    // a {
    //   color: var(--font);
    //   text-decoration: none;
    //   font-size: 2rem;
    //   margin-bottom: 3rem;
    //   display: flex;
    //   align-items: center;
    //   width: fit-content;
    //   transition: all 0.2s;

    //   p {
    //     text-decoration: underline;
    //   }

    //   &:hover {
    //     color: var(--primary-blue);
    //   }
    // }

    h1 {
      font-size: 5.5rem;
      width: 50%;
      line-height: 120%;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }
}
