.posts {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    &--title {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      h1 {
        font-size: 6rem;
        line-height: 100%;
      }

      p {
        transition: all 0.2s;
      }
    }

    &--chips {
      display: flex;
      gap: 2rem;
    }

    &--chip {
      transition: all 0.2s;
      padding: 2rem;
      background-color: var(--light-1);
      border-radius: 10rem;
      cursor: pointer;
      box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.05);
      font-size: 1.5rem;

      &:hover {
        background-color: var(--primary-blue);
        color: #fff;
      }
    }

    &--activeChip {
      background-color: var(--primary-blue);
      color: #fff;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    min-height: 70vh;
  }

  &__post {
    padding: 4rem;
    background-color: var(--light-1);
    border-radius: 3rem;
    height: fit-content;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-end;
    transition: all 0.2s;
    outline-offset: 1rem;
    gap: 2rem;

    &:hover {
      background-color: var(--light-2);
    }

    &:hover > i {
      color: var(--primary-blue);
      transform: translateX(1rem) translateY(50%);
    }

    &:active {
      outline: 2px solid #fff;
    }

    // transition: all 0.2s;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      width: 30%;
      line-height: 130%;
    }

    i {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      transition: all 0.2s;
      right: 4rem;
      font-size: 4rem;
    }

    // &:hover {
    //   background-color: var(--light-2);
    // }

    // &:hover > i {
    //   bottom: 0;
    // }
  }
}
