.response {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
  z-index: 2;

  h1 {
    // font-weight: 600;
    font-size: 5rem;
    line-height: 120%;
  }

  p {
    font-size: 2rem;
  }

  button {
    width: 20%;
    padding: 2rem;
    border-radius: 10rem;
    margin-left: auto;
    background-color: var(--primary-blue);
    color: #fff;
    border: none;
    font-family: "Poppins", "Noto Sans Thai", sans-serif;
    font-size: 1.7rem;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    input {
      padding: 2.5rem;
      border-radius: 2.5rem;
      background-color: var(--light-1);
      border: none;
      font-size: 1.7rem;
      font-family: "Poppins", "Noto Sans Thai", sans-serif;
      color: #fff;
      font-weight: 500;
    }

    textarea {
      padding: 2.5rem;
      border-radius: 2.5rem;
      background-color: var(--light-1);
      border: none;
      font-size: 1.7rem;
      height: 30vh;
      font-family: "Poppins", "Noto Sans Thai", sans-serif;
      resize: none;
      color: #fff;
    }
  }
}
