<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <a href="/new-post">Write a new blog</a>
    <h1>Welcome to the blog listings!</h1>
    <% for (const post in posts) { %>
    <fieldset>
      <h2><%= posts[post]["title"] %></h2>
      <p><%= posts[post]["body"] %></p>
    </fieldset>
    <% } %>
  </body>
</html>
