.header {
  &__home {
    height: 90vh;
    background-color: var(--light-1);
    // margin: 2vw 4vw 0 4vw;
    padding: 3vw;
    display: flex;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;

    &--text {
      margin-top: auto;
    }

    h1 {
      line-height: 101%;
      font-size: 9rem;
      margin-left: -1rem;
    }

    p {
      font-size: 3.5rem;
      width: 60%;
    }
  }

  &__textContainer {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
  }

  &__circle {
    height: 50vw;
    width: 50vw;
    background-color: var(--primary-blue);
    border-radius: 50%;
    position: absolute;
    top: -20vw;
    right: -10vw;
  }

  &__logo {
    position: absolute;
    top: 5rem;
    left: 3vw;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 101%;
  }

  &__nav {
    width: 100%;
    background-color: var(--primary-blue);
  }

  &__navLinks {
    display: flex;
    position: absolute;
    top: 5rem;
    right: 3vw;
    gap: 1rem;

    a,
    &__link {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 10rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 0.2s;
      padding: 2rem;

      i {
        font-size: 2.5rem;
      }

      &:hover {
        background-color: #ffffff50;
      }
    }

    &__themeSwitcher {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 10rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 0.2s;
      padding: 2rem;

      i {
        font-size: 3rem;
      }

      &:active {
        transform: scale(0.8);
      }

      &:hover {
        background-color: #ffffff50;
      }
    }
  }
}
