h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 10rem;
    color: #fff;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
}