.history {
  display: flex;
  gap: 1rem;
  align-items: center;

  &__linkWrapper {
    background: whitesmoke;
    padding: 1em;
    display: inline-block;
  }

  a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--font);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: var(--primary-blue);
      opacity: 0;
      transition: 0.3s all ease-in-out;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  i {
    font-size: 4rem;
    color: var(--font);
  }
}
