.projects {
  &__container {
    @include respond(phone) {
      margin: 0 -3rem 0 -3rem;
      overflow-x: scroll;
      background: none;
      margin-top: 3rem;

      &::-webkit-scrollbar-corner {
        border-radius: 1.1rem;
      }
      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1.1rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }

  &__flexContainer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    width: fit-content;

    @include respond(phone) {
      padding: 0 3rem 0 3rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 2.5rem;
    background-color: var(--light-1);
    border-radius: 3rem;
    height: 35rem;
    width: 70rem;
    position: relative;
    box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.1);

    @include respond(phone) {
      height: 50vh;
      width: 85vw !important;
    }

    &--mainButton {
      display: grid;
      place-items: center;
      width: 13rem;
      height: 6rem;

      border-radius: 10rem;
      background-color: var(--primary-blue);
      font-size: 1.5rem;
      position: absolute;
      bottom: 3rem;
      right: 3rem;
      transition: all 0.4s;
      color: #fff;

      &:hover {
        box-shadow: 0 0 2rem var(--primary-blue);
        transform: translateY(-0.5rem);
      }

      &:active {
        box-shadow: 0 0 1rem var(--primary-blue);
        transform: translateY(0);
      }
    }

    &--subButton {
      text-align: center;
      padding: 1rem;
      height: 6rem;
      width: 6rem;
      border-radius: 10rem;
      background-color: transparent;
      border: 1px solid #4d4f6f;
      font-size: 3rem;
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      transition: all 0.4s;
    }

    &--deprecated {
      background-color: #333948;
      color: #838383;
      cursor: no-drop;

      &:hover {
        box-shadow: none;
        transform: translateY(0rem);
      }
    }

    h3 {
      font-weight: 500;
      font-size: 4rem;
    }

    p {
      // color: #dbdbdb;
      color: var(--light-text);
    }
  }
}
