.technologies {
  margin-bottom: 10rem;

  @include respond(phone) {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    background-color: var(--light-1);
    border-radius: 3rem;
    height: 21rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 2.5rem;
      line-height: 130%;
      font-weight: 600;
      z-index: 2;
    }

    p {
      font-size: 1.7rem;
      z-index: 2;
    }

    i {
      position: absolute;
      bottom: -30%;
      right: 0;
      font-size: 25rem;
      color: var(--light-2);
      transition: all 0.2s;

      // opacity: 0;
    }

    &:hover > i {
      color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: var(--primary-blue);
    }
  }
}
