*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 62.5%;
  }

  @include respond(phone) {
    font-size: 60%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
  font-family: "Poppins", "IBM Plex Sans Thai", sans-serif;
  color: var(--font);
  overflow-x: hidden;

  @include respond(tab-port) {
    padding: 0;
  }
}

.main {
  &__home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 5vw 0 5vw;
    overflow: hidden;

    @include respond(phone) {
      padding: 5vh 3rem 3rem 3rem;
      gap: 7rem;
    }
  }

  &__posts {
    padding: 5rem 5vw 0 5vw;
  }

  &__response {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  &__post {
    padding: 5rem 5vw 0 5vw;
  }
}
