.technologies {
  p {
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--light-1);
    border-radius: 3rem;
    height: 21rem;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;

    h3 {
      font-size: 2.5rem;
      line-height: 35px;
      z-index: 2;
    }

    p {
      font-size: 1.7rem;
      z-index: 2;
    }

    i {
      position: absolute;
      bottom: -30%;
      right: 0;
      font-size: 25rem;
      color: var(--light-2);
      transition: all 0.2s;
    }

    &:hover > i {
      color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: var(--primary-blue);
    }
  }
}
