.about {
    height: 100vh;

    img {
        height: 100vh;
    }

    h1 {
        font-size: 5rem;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;

        padding: 2rem 0 0 5rem;

    }
}