.works {
    height: 65rem;
    
    &__wrapper {
        padding: 4rem;
        height: 65rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:"main main one two"
                            "main main three four";

        grid-gap:15px
    }

    &__main {
        grid-area: main;

        background-color: $jira-gray-1;
        border-radius: 11px;
        transition-duration: .5s;

        padding: 2.5rem;

        h2 {
            padding-bottom: 1rem;
        }

        p {
            padding-bottom: 2.5rem;
        }

        img {
            height: 35rem;
            width: 80%;
            background-size: cover;

            border-radius: 15px;
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: $jira-gray-1;
        }

        &:active {
            transform: scale(.9);
        }
    }

    &__1 {
        grid-area: one;
        background-image: linear-gradient(to bottom right,#ff9900,#ff6a00);
        border-radius: 11px;
        transition-duration: .5s;
        
        img {
            padding-top: 2.5rem;

            height: 20rem;
            width: 20rem;
            background-size: cover;

            border-radius: 15px;
        }

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(.9);
        }
    }

    &__2 {
        grid-area: two;
        background-image: linear-gradient(to bottom right,#00b3ff,#0080ff);
        border-radius: 11px;
        transition-duration: .5s;
        
        img {
            padding-top: 2.5rem;

            height: 20rem;
            width: 20rem;

            border-radius: 15px;

            z-index: 5;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: $jira-gray-1;
        }

        &:active {
            transform: scale(.9);
        }
    }

    &__3 {
        grid-area: three;

        background-color: $jira-gray-1;
        border-radius: 11px;
    }

    &__4 {
        grid-area: four;

        background-color: $jira-gray-1;
        border-radius: 11px;
    }
}