.header {
    background-color: #ff4088;
    display: block;
    height: 60vh;
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    top:0;

    z-index: 1;

    &__text {
        display: inline-block;
        margin-left: 5% ;
        margin-top: 10%;

        line-height: 11rem;
    }

    &__img {

        &-1 {
            height:25rem ;
            width:25rem ;


            position: absolute;
            top: 35%;
            left: 73%;

            z-index: 2;
        }

        &-2 {
            height:30rem ;
            width:30rem ;


            position: absolute;
            top: 25%;
            left: 63%;
        }
        
    }
}
.container {
    background: linear-gradient();
    
    
    display: table;
    height: 100vh;
    position: relative;
}

.waves {
    z-index: 2;
    width: 100%;
    height: 30vh;

    margin-top: 45vh;
    
}