.header {
    //background-image: linear-gradient(225deg, #fa8142, #ff4088 ) ;
    display: block;
    height: 80vh;
    width: 100%;
    -webkit-animation: Rainbow 15s ease infinite;
    -moz-animation: Rainbow 15s ease infinite;
    animation: Rainbow 15s ease infinite;
    box-sizing: border-box;
    background-size: 300% 300%;

    position: absolute;
    top:0;

    &__text {
        display: inline-block;
        margin-left: 5% ;
        margin-top: 10%;

        line-height: 11rem;
    }

    &__img {

        &-1 {
            height:35rem ;
            width:35rem ;


            position: absolute;
            top: 40%;
            left: 70%;

            z-index: 2;
        }

        &-2 {
            height:30rem ;
            width:30rem ;


            position: absolute;
            top: 25%;
            left: 63%;
        }
        
    }
}
.container {
    background: linear-gradient();
    
    
    display: table;
    height: 100vh;
    position: relative;
  }